/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {outline:0px none transparent;}

body {
  /* line height not suitable for headings */
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* PROJECT CSS */

:root {
  --nav-blue: dodgerblue;
  --svg-size: 20px;
  --secondary-bg-color: lightgrey;
  --primary-bg-color: white;
  --card-padding: 20px;
  --shadow-color: rgb(117, 117, 117);
}

body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  background-color: var(--secondary-bg-color);
}

nav {
  background-color: var(--nav-blue);
  grid-row: 1/3;

  display: grid;
  justify-content: left;
  align-items: start;  
  grid-auto-rows: max-content;
  gap: 40px;

  padding: 5px;
}

nav div.nav-links {
  display: grid;
  gap: 10px;

  padding: 5px;
  margin: 10px 20px;
}

div.nav-links > a {
  color: white;
  text-decoration: none;
  font-weight: 700;

  display: grid;
  grid-template-columns: calc(var(--svg-size)*2) auto;
  align-items: center;
  gap: 10px;
}

div.logo-dashboard > a > .logo {
  height: calc(var(--svg-size) * 2);
}

div.nav-links > a > svg {
  height: var(--svg-size);
  fill: white;
  justify-self: center;
}

header {
  grid-column: 2/3;

  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-bg-color);
  padding: 20px 50px;
  margin-bottom: 10px;

  font-weight: 600;
  box-shadow: 0px 2px 10px -3px var(--shadow-color); 
}

header svg {
  height: var(--svg-size);
}

.profile-pic img {
  border-radius: 50%;
}

header .search-container {
  grid-row: 1/2;
  grid-column: 1/2;

  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container input {
  flex: auto;
  
  max-height: calc(var(--svg-size)*2);
  background-color:var(--secondary-bg-color);
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  box-shadow: 5px 5px 20px -10px var(--shadow-color);

}

header .account-container {
  grid-column: 2/3;

  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.account-container button {
  border: none;
  background: none;
}

.account-container .profile-pic
{
  width: 50px;
}

header .welcome-container {
  grid-row: 2/3;
  
  display: flex;
  align-items: center;
  gap: 20px;
}

.welcome-container .profile-pic {
  width: 100px;
}

header .actions-container {
  grid-column: 2/3;

  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 10px;
  justify-content: end;
}

.actions-container button {
  background: var(--nav-blue);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 5px 5px 20px -10px var(--shadow-color);

}

main {
  grid-row: 2/3;
  grid-column: 2/3;

  display: flex;
  flex-wrap: wrap;
  gap: 50px;

  padding: 50px;
}

main .projects-section {
  flex: 2;
  flex-basis: 600px;
  display: grid;
  grid-template-rows: max-content;
  gap: 30px;
}

.projects-section .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px
}

.project-grid .project-card {
  background-color: var(--primary-bg-color);
  padding: var(--card-padding);
  border-left: 10px solid orange;
  border-radius: 10px;
  box-shadow: 5px 5px 20px -10px var(--shadow-color);

  display: grid;
  gap: 10px;
}

.project-card .card-actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}



main .side-div {
  flex: auto;
  flex-basis: 300px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;

}

main svg {
  height: var(--svg-size);
}

.side-div .announcements,
.side-div .trending {
  flex: auto;
  flex-basis: 300px;

  display: grid;
  gap: 30px;
}

.announcements .announcement-card,
.trending .trending-card {
  background-color: var(--primary-bg-color);
  padding: var(--card-padding);
  border-radius: 10px;
  box-shadow: 5px 5px 20px -10px var(--shadow-color);


  display: grid;
  gap: 10px;
}

.announcement-card .announcement,
.trending-card .trend {
  padding: var(--card-padding);
}

.announcement p {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.trending-card .trend {
  display: grid;
  grid-template-columns: calc(var(--svg-size)*3) auto;
  align-items: center;
  gap: 20px;
}

.trend img {
  border-radius: 50%;
}